.App {
  background-color: black;
  color: white
}

.App-Logo {
  height: 3rem;
  width: 3rem;
  pointer-events: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.App-Container {
  /* Center on the page */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0%;
  left: 1%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 1rem;
  border-radius: 0rem 0rem 1rem 1rem;

}

.App-Container-2 {
  /* Center on the page */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0%;
  right: 1%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  pointer-events: none;
  background-color: transparent;
  padding: 1rem;
  pointer-events: none;
}

.App-Container-Sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  gap: 1rem;
}

.Spline-Container {
  /* Center on the page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;  
  /* border-radius: 1rem; */
  z-index: 1;
}

.Mobile-Warning {
  display: none;
}

/* If user is on a mobile device */
@media only screen and (max-width: 600px) {
  .App {
    background-color: black;
    color: white
  }

  .App-Container {
    /* Center on the page */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: -2%;
    left: 1%;
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    pointer-events: none;
    background-color: transparent;
    padding: 1rem;
    display: none;
  }

  .App-Container-Sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .Spline-Container {
    display: none;
  }

  .Mobile-Warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #000000;  
    /* border-radius: 1rem; */
    z-index: 1;
    width: 100%;
  }
}